<label>Server Name</label>

<!-- <input type="text"
  class="form-control"
  (input)="onUpdateServerName($event)">
<p>{{serverName}}</p> -->
<input type="text" class="form-control" [(ngModel)]="serverName">

<!-- <p>{{serverName}}</p> -->

<button class="btn btn-primary" (click)="onCreateServer()"
  [disabled]="!allowNewServer">Add Server</button>

<br>
<!-- <div>
  <label>User name</label>
  <input type="text" class="form-control" [(ngModel)]="username">
  <p>{{username}}</p>
  <button [disabled]="username===''" (click)="onUserClick()">Click</button>
</div> -->
<button (click)="onDisplay()">Display Details</button>
<p *ngIf="visible">Secret Password=tuna</p>
<div *ngFor="let logItem of log"
  [ngStyle]="{backgroundColor:logItem>=5?'blue':'transparent'}"
  [ngClass]="{color:logItem>=5?'white':'transparent'}">{{logItem}}</div>

<br>

<!-- <p>{{allowNewServer}}</p>
<p [innerText]="allowNewServer"></p> -->

<!-- <p>{{serverCreationStatus}}</p> -->

<p *ngIf="servercreated; else noServer">Server was created , server name is
  {{serverName}}</p>
<ng-template #noServer>
  <p>No server was created</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
