<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Partials</title>
  </head>
  <body>
     {{>header}}
    <p>{{body}}</p>
    <footer>{{footer}}</footer>

  </body>
</html>