{{!header.hbs}}
<h1>{{title}}</h1>
<div>
  <a href="/">Index</a>
  <a href="/homepage">Home</a>
  <a href="/help">Help</a>
  <a href="/contact">Contact</a>
  <a href="/aboutme">About me</a>
  <a href="/form">Form</a>
</div>