
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Document Generator</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Welcome to Student information page</h1>
    <form action="/submit" method="POST">
      Rollno: <input type="text" name="rollNo" required>
      <br>
      Name :<input type="text" name="name" required>
      <br>
      <button>Submit</button>
      <a href="/list">List users</a>
    </form>
  </body>
</html>
