<div class="container">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div formGroupName="userData">
      <label for="username">Username</label>
      <input id="username" formControlName="username">
       <span *ngIf="!signUpForm.get('userData.user')"></span>
      <label for="email">Email</label>
      <input id="email" formControlName="email">
    </div>

    <label for="gender">Gender</label>
    <select id="gender" formControlName="gender">
      <option *ngFor="let gender of genders" [value]="gender">{{ gender
        }}</option>
    </select>


    <div formArrayName="hobbies">
      <h4>Your Hobbies</h4>
      <button type="button" (click)="onAddHobby()">Add Hobby</button>
      <div *ngFor="let hobbyControl of controls; let i = index">
        <input [formControlName]="i" />
      </div>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>
