<button (click)="onlyOdd=!onlyOdd">show number</button>
<br>
<ul>
  <div *ngIf="onlyOdd===false">
    <li *ngFor="let odd of oddNumber"
      [ngStyle]="{fontWeight:odd%2!=0?'bolder':'normal'}">{{odd}}</li>
  </div>
  <br>
  <div *appUnless="onlyOdd===!true">
    <li *ngFor="let even of evenNumber">{{even}} </li>
  </div>
  <br>
  <li *ngFor="let number of numbers"
    [ngClass]="{odd:number%2!=0,even:number%2==0}"
    [ngStyle]="{backgroundColor:'pink'}">{{number}}</li>
</ul>
<p appBasicHighLight>Style me with basic highlight</p>
<p appBetterHighLight [highlightColor]="'blue'">Style me with better
  highligh</p>
<br>
<div [ngSwitch]="value">
  <p *ngSwitchCase="6">value is 6</p>
  <p *ngSwitchCase="3">value is 5</p>
  <p *ngSwitchDefault>value is default</p>
</div>
