<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Letters</title>
  </head>
  <body>
    <% if(firstName) { %>
    <h1>there are <%= firstName %> in your name</h1>
    <% } %>
    <form action="/submit" method="POST">
      <input type="text" name="fName" placeholder="First Name">
      <input type="text" name="lName" placeholder="Last Name">
      <input type="submit" value="OK">
    </form>

  </body>
</html>