

<div id="question-creation" class="signup-form">
  <h2>Question</h2>
  <div class="form-group">
    <input [(ngModel)]="title" class="form-control " id="title" type="text"
      placeholder="Title" />
    <textarea [(ngModel)]="desc" class="form-control" rows="4" cols="50"
      id="description" placeholder="Description"></textarea>
    <button class="btn" id="submit" (click)="addQuestion(idx)"
      type="submit">Add</button>
  </div>
</div>
<h1>Question List</h1>
<div id="question-list" *ngFor="let que of questions; let i=index;">
  <app-question [question]="que" (edit)="editQuestion($event)"
    [index]="i+1"></app-question>
</div>